{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}

<section class="view-cart-section section">
    <div class="view-cart-section-container section-container container-col">
        <h2 class="view-cart-section-heading dark-text">Shopping Cart</h2>

        {% if cart_items %}
        <div class="cart-items-container container-col">
            <div class="cart-item-heading-container container-row">
                <p class="product-info-heading product-info-row-container container-row">
                    <strong>Product Info</strong>
                </p>
                <p class="product-price-heading product-price-row-container container-row">
                    <strong>Price</strong>
                </p>
                <p class="product-qty-heading product-qty-row-container container-row">
                    <strong>Qty</strong>
                </p>
                <p class="product-subtotal-heading product-subtotal-row-container container-row">
                    <strong>Subtotal</strong>
                </p>
            </div>

            {% for item in cart_items %}
            <div class="cart-item-product-container cart-item-row-container container-row">
                <div class="product-info-row-container container-row">
                    <div class="product-info-img-container img-container">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-100a">
                    </div>

                    <div class="product-info-text-container container-col">
                        <p class="product-info-name dark-text">
                            <strong>{{ item.product.name }}</strong>
                        </p>

                        <p class="product-info-theme dark-text">
                            <strong>Theme:</strong> {% if item.product.has_themes %}{{ item.theme|upper }}{% else %}N/A{% endif %}
                        </p>

                        <p class="product-info-sku dark-text">
                            SKU: {{ item.product.sku|upper }}
                        </p>
                    </div>
                </div>
                <div class="product-price-row-container container-row">
                    <p class="product-price dark-text">${{ item.product.price }}</p>
                </div>
                <div class="product-qty-row-container container-col">
                    <form class="update-qty-form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                        {% csrf_token %}

                        <div class="atc-qauntity-input-container container-row">
                            <button class="decrement-qty btn"
                                data-item_id="{{ item.item_id }}"
                                id="decrement-qty_{{ item.item_id }}">
                                <i class="fas fa-minus"></i>
                            </button>

                            <input type="number" 
                            name="quantity" min="1" max="99" 
                            data-item_id="{{ item.item_id }}" 
                            id="id_qty_{{ item.item_id }}"
                            value="{{ item.quantity }}"
                            class="atc-input qty_input">

                            <button class="increment-qty btn"
                                data-item_id="{{ item.item_id }}"
                                id="increment-qty_{{ item.item_id }}">
                                <i class="fas fa-plus"></i>
                            </button>
                            {% if item.product.has_themes %}
                            <input type="hidden" name="product_theme" value="{{ item.theme }}">
                            {% endif %}
                        </div>
                    </form>
                    <div class="adjust-cart-btns-container container-row">
                        <div class="update-qty-btn btn">Update</div>
                        <div class="remove-item-btn btn" id="remove_{{ item.item_id }}" data-product_theme="{{ item.theme }}">Delete</div>
                    </div>
                </div>
                <div class="product-subtotal-row-container container-row">
                    <p class="product-subtotal dark-text">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        

        <div class="cart-total-container container-col">
            <div class="cart-delivery-total-container container-col">
                <div class="cart-total-text dark-text">Cart Total: ${{ total|floatformat:2 }}</div>
                <div class="cart-delivery-text dark-text">Delivery: ${{ delivery|floatformat:2 }}</div>
            </div>
            <div class="grand-total-text dark-text">
                <strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong>
            </div>
            {% if discount_delta > 0 %}
            <p class="discount-delta-text dark-text">
                You can get {{ discount_percentage }}$ off by spending <strong>${{ discount_delta }}</strong> more!
            </p>
            {% endif %}
        </div>

        <div class="checkout-return-btns-container container-row">
            <a href="{% url 'products' %}" class="keep-shopping-btn btn">Keep Shopping</a>
            <a href="{% url 'checkout' %}" class="btn checkout-btn">Secure Checkout</a>
        </div>

        {% else %}
        <div class="empty-cart-container container-col">
            <p class="dark-text">Your cart is empty!</p>
            <a href="{% url 'products' %}" class="keep-shopping-btn btn">Keep Shopping</a>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/quantity-input.js' %}"></script>
<script type="text/javascript">
    const updateQtyBtns = document.querySelectorAll(".update-qty-btn");
    const removeItemBtns = document.querySelectorAll(".remove-item-btn");

    updateQtyBtns.forEach((btn) => {
        btn.addEventListener("click", (e) => {
            let form = btn.parentElement.parentElement.querySelector(".update-qty-form");
            form.submit();
        });
    });

    removeItemBtns.forEach((btn) => {
        btn.addEventListener("click", (e) => {
            let csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            let itemId = btn.getAttribute("id").split("remove_")[1];
            let theme = btn.getAttribute("data-product_theme");

            let form = new FormData();
            form.append("csrfmiddlewaretoken", csrfToken);
            form.append("product_theme", theme);

            let url = `/cart/remove/${itemId}/`;

            fetch(url, {
                method: "POST",
                body: form,
            })
            .then(() => {
                location.reload();
            });
        });
    });
</script>
{% endblock %}