{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}

<section class="view-cart-section section">
    <div class="view-cart-section-container section-container container-col">
        <h2 class="view-cart-section-heading dark-text">Shopping Cart</h2>

        {% if cart_items %}
        <div class="cart-items-container container-col">
            <div class="cart-item-heading-container container-row">
                <p class="product-info-heading product-info-row-container container-row dark-text">
                    <strong>Product Info</strong>
                </p>
                <p class="product-price-heading product-price-row-container container-row dark-text">
                    <strong>Price</strong>
                </p>
                <p class="product-qty-heading product-qty-row-container container-row dark-text">
                    <strong>Qty</strong>
                </p>
                <p class="product-subtotal-heading product-subtotal-row-container container-row dark-text">
                    <strong>Subtotal</strong>
                </p>
            </div>

            {% for item in cart_items %}
            <div class="cart-item-product-container cart-item-row-container container-row">
                <div class="product-info-row-container container-row">
                    <div class="product-info-img-container img-container">
                        {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-100a">
                        {% else %}
                        <img src="{{ MEDIA_URL }}template.png" alt="{{ item.product.name }}" class="img-100a">
                        {% endif %}
                    </div>

                    <div class="product-info-text-container container-col">
                        <p class="product-info-name dark-text">
                            <strong>{{ item.product.name }}</strong>
                        </p>

                        <p class="product-info-theme dark-text">
                            <strong>Theme:</strong> {% if item.product.has_themes %}{{ item.theme|upper }}{% else %}N/A{% endif %}
                        </p>

                        <p class="product-info-sku dark-text">
                            SKU: {{ item.product.sku|upper }}
                        </p>
                    </div>
                </div>
                <div class="product-price-row-container container-row">
                    <p class="product-price dark-text">${{ item.product.price }}</p>
                </div>
                <div class="product-qty-row-container container-col">
                    <form class="update-qty-form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                        {% csrf_token %}

                        <div class="atc-qauntity-input-container container-row">
                            <button class="decrement-qty btn"
                                data-item_id="{{ item.item_id }}"
                                id="decrement-qty_{{ item.item_id }}">
                                <i class="fas fa-minus"></i>
                                <span class="sr-only">Decrement Quantity</span>
                            </button>

                            <label for="id_qty_{{ item.item_id }}" class="sr-only">Quantity input</label>
                            <input type="number" 
                            name="quantity" min="1" max="99" 
                            data-item_id="{{ item.item_id }}" 
                            id="id_qty_{{ item.item_id }}"
                            value="{{ item.quantity }}"
                            class="atc-input qty_input">

                            <button class="increment-qty btn"
                                data-item_id="{{ item.item_id }}"
                                id="increment-qty_{{ item.item_id }}">
                                <i class="fas fa-plus"></i>
                                <span class="sr-only">Increment Quantity</span>
                            </button>
                            {% if item.product.has_themes %}
                            <input type="hidden" name="product_theme" value="{{ item.theme }}">
                            {% endif %}
                        </div>
                    </form>
                    <div class="adjust-cart-btns-container container-row">
                        <div class="update-qty-btn btn">Update</div>
                        <div class="remove-item-btn btn" id="remove_{{ item.item_id }}" data-product_theme="{{ item.theme }}">Delete</div>
                    </div>
                </div>
                <div class="product-subtotal-row-container container-row">
                    <p class="product-subtotal dark-text">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        

        <div class="cart-total-container container-col">
            <div class="cart-delivery-total-container container-col">
                <div class="cart-total-text dark-text">Cart Total: ${{ total|floatformat:2 }}</div>
                <div class="cart-real-world-text dark-text">Real Items Total: ${{ real_items_total|floatformat:2 }}</div>
                <div class="cart-delivery-text dark-text">Delivery: ${{ delivery|floatformat:2 }}</div>
            </div>
            <div class="grand-total-text dark-text">
                <strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong>
            </div>
            {% if discount_delta > 0 %}
            <p class="discount-delta-text dark-text">
                You can get {{ discount_percentage }}$ off by spending <strong>${{ discount_delta }}</strong> more!
            </p>
            {% endif %}
        </div>

        <div class="checkout-return-btns-container container-row">
            <a href="{% url 'products' %}" class="keep-shopping-btn btn">
                <span class="fa-icon"><i class="fa-solid fa-chevron-left"></i></span>
                Keep Shopping
            </a>
            <a href="{% url 'checkout' %}" class="btn checkout-btn">
                <span class="fa-icon">
                    <i class="fa-solid fa-lock"></i>
                </span>
                Secure Checkout
            </a>
        </div>

        {% else %}
        <div class="empty-cart-container container-col">
            <p class="dark-text">Your cart is empty!</p>
            <p class="dark-text">If you spend over $200 you will receive {{ discount_percentage }}% off your order</p>
            <a href="{% url 'products' %}" class="keep-shopping-btn btn">
                <span class="fa-icon"><i class="fa-solid fa-chevron-left"></i></span>
                Keep Shopping
            </a>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/quantity-input.js' %}"></script>
{% endblock %}