{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<section class="home-hero-section">
    <div class="home-hero-img-container img-container">
        <img src="{{ MEDIA_URL }}home-2.png" alt="Home Hero" class="home-hero-img">
    </div>
    <div class="home-hero-overlay"></div>
    <div class="home-hero-heading-container container-col">
        <h2 class="home-hero-heading hhh-1">Unlock Infinite Worlds</h2>
        <h2 class="home-hero-heading hhh-2">with Infinity Innovations</h2>
        <h2 class="home-hero-subheading hhh-3">Your Gateway to the Metaverse!</h2>
        <a href="{% url 'products' %}" class="hhh-btn btn">
            <span class="fa-icon"><i class="fa-solid fa-shop"></i></span>
            Enter Our Shop
        </a>
    </div>
</section>

<section class="home-gallery-section section">
    <div class="home-gallery-section-container container-col">
        <div class="home-gallery-heading-container container-col">
            <h2 class="home-gallery-heading dark-text">Take a step into the Metaverse</h2>
            <h2 class="home-gallery-heading dark-text">Discover the infinite worlds</h2>
        </div>
        <div class="home-gallery-container container-row">
            <div class="home-gallery-img-container img-container">
                <img src="{{ MEDIA_URL }}home-gallery-1.png" alt="Metaverse World" class="img-100a">
            </div>
            <div class="home-gallery-img-container img-container">
                <img src="{{ MEDIA_URL }}home-gallery-2.png" alt="Metaverse World" class="img-100a">
            </div>
            <div class="home-gallery-img-container img-container">
                <img src="{{ MEDIA_URL }}home-gallery-3.png" alt="Metaverse World" class="img-100a">
            </div>
        </div>

    </div>
</section>

<section class="home-tagline-section container-col">
    <div class="home-tagline-container container-row">
        <div class="home-tagline-img-container img-container">
            <img src="{{ MEDIA_URL }}logo-2-white.png" alt="White Logo" class="img-100a">
        </div>
        <div class="home-tagline-text white-text" id="typewriter-text"></div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/typewriter.js' %}"></script>
{% endblock %}