{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<section class="home-hero-section">
    <div class="home-hero-img-container img-container">
        <img src="{{ MEDIA_URL }}home-2.webp" alt="Home Hero" class="home-hero-img" loading="lazy">
    </div>
    <div class="home-hero-overlay"></div>
    <div class="home-hero-heading-container container-col">
        <h2 class="home-hero-heading hhh-1">Unlock Infinite Worlds</h2>
        <h2 class="home-hero-heading hhh-2">with Infinity Innovations</h2>
        <h2 class="home-hero-subheading hhh-3">Your Gateway to the Metaverse!</h2>
        <a href="{% url 'products' %}" class="hhh-btn btn">
            <span class="fa-icon"><i class="fa-solid fa-shop"></i></span>
            Enter Our Shop
        </a>
    </div>
</section>

<section class="home-gallery-section section">
    <div class="home-gallery-section-container container-col">
        <div class="home-gallery-heading-container container-col">
            <h2 class="home-gallery-heading dark-text">Take a step into the Metaverse</h2>
            <h2 class="home-gallery-heading dark-text">Discover the infinite worlds</h2>
        </div>
        <div class="home-gallery-container container-row">
            <div class="home-gallery-img-container img-container-1 img-container">
                <img src="{{ MEDIA_URL }}home-gallery-1.webp" alt="Metaverse World" class="img-100a">
            </div>
            <div class="home-gallery-img-container img-container-2 img-container">
                <img src="{{ MEDIA_URL }}home-gallery-5.webp" alt="Metaverse World" class="img-100a">
            </div>
            <div class="home-gallery-img-container img-container-3 img-container">
                <img src="{{ MEDIA_URL }}home-gallery-3.webp" alt="Metaverse World" class="img-100a">
            </div>

            <div class="home-gallery-img-container img-container-4 img-container">
                <img src="{{ MEDIA_URL }}home-gallery-4.webp" alt="Metaverse World" class="img-100a">
            </div>
            <div class="home-gallery-img-container img-container-5 img-container">
                <img src="{{ MEDIA_URL }}home-gallery-2.webp" alt="Metaverse World" class="img-100a">
            </div>
            <div class="home-gallery-img-container img-container-6 img-container">
                <img src="{{ MEDIA_URL }}home-gallery-6.webp" alt="Metaverse World" class="img-100a">
            </div>
        </div>

    </div>
</section>

<section class="home-tagline-section container-col">
    <div class="home-tagline-container container-row">
        <div class="home-tagline-img-container img-container">
            <img src="{{ MEDIA_URL }}logo-2-white.png" alt="White Logo" class="img-100a">
        </div>
        <h3 class="home-tagline-text white-text container-row" id="typewriter-text">Explore Our Premium Selection Today!</h3>
    </div>
</section>

<section class="home-categories-section section">
    <div class="home-categories-section-container section-container container-col">
        <h2 class="home-categories-section-heading dark-text">Explore our Top Categories</h2>
        <h3 class="home-categories-heading dark-text">Real</h3>
        <div class="home-category-container container-row" data-url="real-vr_headset">
            <div class="home-category-heading left white-text">Headsets</div>
            <div class="home-category-heading-container left"></div>
            <div class="home-category-img-container img-container">
                <img src="{{ MEDIA_URL }}home-category-1.webp" alt="VR Headset Image" class="img-100a">
            </div>
        </div>
        <div class="home-category-container container-row" data-url="real-ar_glasses">
            <div class="home-category-heading right white-text">Glasses</div>
            <div class="home-category-heading-container right"></div>
            <div class="home-category-img-container img-container">
                <img src="{{ MEDIA_URL }}home-category-2.webp" alt="VR Glasses Image" class="img-100a">
            </div>
        </div>
        <h3 class="home-categories-heading digital dark-text">Digital</h3>
        <div class="home-category-container container-row" data-url="digital-weapons">
            <div class="home-category-heading left white-text">Weapons</div>
            <div class="home-category-heading-container left"></div>
            <div class="home-category-img-container img-container">
                <img src="{{ MEDIA_URL }}home-category-3.webp" alt="Weapons Image" class="img-100a">
            </div>
        </div>
        <div class="home-category-container container-row" data-url="digital-armour">
            <div class="home-category-heading right white-text">Armour</div>
            <div class="home-category-heading-container right"></div>
            <div class="home-category-img-container img-container">
                <img src="{{ MEDIA_URL }}home-category-4.webp" alt="Armour Image" class="img-100a">
            </div>
        </div>
    </div>
</section>

<section class="home-reviews-section section">
    <div class="home-reviews-section-container section-container container-col">
        <div class="home-review-display-container review-container container-row">
            <i class="fa-solid fa-quote-left reviews-quote-icon home"></i>
            <h3 class="home-review-display white-text">
                Infinity Innovations is the ultimate metaverse shopping destination
            </h3>
            <i class="fa-solid fa-quote-right reviews-quote-icon home"></i>
        </div>
        
        <a href="{% url 'reviews' %}" class="home-review-btn btn">
            <span class="fa-icon"><i class="fa-regular fa-face-grin-stars white-text"></i></span>
            View Reviews
        </a>
    </div>
</section>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}