{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<section class="profile-section section">
    <div class="profile-section-container section-container container-col">
        <h3 class="profile-section-heading dark-text">Profile</h3>

        <div class="profile-section-wrapper container-row">
            <div class="profile-update-form-container container-col">
                <p class="profile-section-sub-heading dark-text">Default Delivery Information</p>
                <form action="{% url 'profile' %}" id="profile-update-form" method="POST" class="container-col">
                    {% csrf_token %}
                    <label for="id_default_phone_number" class="sr-only">phone_number</label>
                    {{ form.default_phone_number}}
                    <label for="id_default_country" class="sr-only">default_country</label>
                    {{ form.default_country}}
                    <label for="id_default_postcode" class="sr-only">default_postcode</label>
                    {{ form.default_postcode}}
                    <label for="id_default_street_address1" class="sr-only">default_street_address1</label>
                    {{ form.default_street_address1 }}
                    <label for="id_default_street_address2" class="sr-only">default_street_address2</label>
                    {{ form.default_street_address2 }}
                    <label for="id_default_town_or_city" class="sr-only">default_town_or_city</label>
                    {{ form.default_town_or_city }}
                    <label for="id_default_county" class="sr-only">default_county</label>
                    {{ form.default_county}}
                    
                    <button class="profile-update-form-submit-btn btn">
                        <span class="fa-icon"><i class="fa-solid fa-pen-to-square"></i></span>
                        Update Information
                    </button>
                </form>
            </div>

            <div class="profile-order-history-container container-col">
                <p class="profile-section-sub-heading dark-text">Order History</p>
                <div class="order-history-heading-container container-row">
                    <div class="order-history-heading order-num-col dark-text">Order Number</div>
                    <div class="order-history-heading order-date-col dark-text">Date</div>
                    <div class="order-history-heading order-items-col dark-text">Items</div>
                    <div class="order-history-heading order-total-col dark-text">Order Total</div>
                </div>
                {% for order in orders %}
                <div class="order-history-item-container container-row">
                    <a href="{% url 'order_history' order.order_number %}" 
                    title="{{ order.order_number }}" class="order-num-col dark-text">
                        {{ order.order_number|truncatechars:6 }}
                    </a>
                    <div class="order-date-col dark-text container-col">{{ order.date }}</div>
                    <div class="order-items-col container-col">
                        {% for item in order.lineitems.all %}
                        <div class="dark-text">
                            {{ item.quantity }} x {{ item.product.name }}
                            {% if item.product_theme != None %}
                            - {{ item.product_theme|capfirst }}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="order-total-col dark-text">{{ order.grand_total }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}