{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}

<section class="checkout-section section">
    <div class="checkout-section-container section-container container-col">
        <h3 class="checkout-section-heading dark-text">Checkout</h3>
        <div class="checkout-section-wrapper container-row">
            <div class="checkout-form-container container-col">
                <p class="checkout-form-top-text dark-text">Please fill out the form below to complete your order</p>

                <form action="{% url 'checkout' %}" method="POST" class="checkout-form container-col" id="payment-form">
                    {% csrf_token %}

                    <div class="details-checkout-form-container container-col">
                        <p class="checkout-form-heading dark-text">Details</p>
                        <label for="id_full_name" class="sr-only">Full Name</label>
                        {{ order_form.full_name }}
                        <label for="id_email" class="sr-only">Email</label>
                        {{ order_form.email }}
                    </div>

                    <div class="delivery-checkout-form-container container-col">
                        <p class="checkout-form-heading dark-text">Delivery</p>
                        <label for="id_phone_number" class="sr-only">Phone Number</label>
                        {{ order_form.phone_number}}
                        <label for="id_country" class="sr-only">Country</label>
                        {{ order_form.country}}
                        <label for="id_postcode" class="sr-only">Postcode</label>
                        {{ order_form.postcode}}
                        <label for="id_street_address1" class="sr-only">Street Address 1</label>
                        {{ order_form.street_address1 }}
                        <label for="id_street_address2" class="sr-only">Street Address 1</label>
                        {{ order_form.street_address2 }}
                        <label for="id_town_or_city" class="sr-only">Town or City</label>
                        {{ order_form.town_or_city }}
                        <label for="id_county" class="sr-only">County</label>
                        {{ order_form.county}}
                    </div>

                    <div class="save-info-checkout-form-container container-row">
                        {% if user.is_authenticated %}
                        <input type="checkbox" id="id-save-info" class="form-check-input" name="save-info" checked>
                        <label for="id-save-info" class="form-check-label dark-text">Save delivery information</label>
                        {% else %}
                        <label for="id-save-info" class="form-check-label">
                            <a href="{% url 'account_signup' %}" class="dark-text">Create an account</a> or
                            <a href="{% url 'account_login' %}" class="dark-text">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>

                    <div class="stipe-card-form-container container-col">
                        <div class="stripe-card-heading dark-text">Payment</div>
                        <div class="stripe-card-element-container">
                            <div id="card-element">
        
                            </div>
                            <div id="card-errors" role="alert" class="stripe-card-errors-container container-row"></div>
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </div>
                    </div>

                    <div class="submit-checkout-form-container container-col">
                        <button class="btn" id="submit-button">
                            <span class="fa-icon">
                                <i class="fa-solid fa-credit-card"></i>
                            </span>
                            Complete
                        </button>

                        <a href="{% url 'view_cart' %}" class="adjust-cart-btn btn">
                            <span class="fa-icon"><i class="fa-solid fa-chevron-left"></i></span>
                            Adjust Cart
                        </a>
                    </div>

                    <p class="charged-amount dark-text">
                        Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong>
                    </p>

                </form>
            </div>

            <div class="cart-summary-container container-col">
                <div class="cart-summary-heading dark-text">Order Summary ({{ product_count }})</div>
                <div class="cart-summary-heading-container container-row">
                    <div class="cart-summary-item-heading dark-text">Item</div>
                    <div class="cart-summary-subtotal-heading container-col dark-text">Subtotal</div>
                </div>
                {% for item in cart_items %}
                <div class="cart-summary-product-container container-row">
                    <div class="cart-summary-product-item-container container-row">
                        <a href="{% url 'product_detail' item.product.id %}" class="cart-summary-img-container img-container">
                            {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-100a">
                            {% else %}
                            <img src="{{ MEDIA_URL }}template.png" alt="{{ item.product.name }}" class="img-100a">
                            {% endif %}
                        </a>

                        <div class="cart-summary-product-info-container container-col">
                            <p class="name-summary dark-text"><strong>Name:</strong> {{ item.product.name }}</p>
                            <p class="theme-summary dark-text"><strong>Theme:</strong> {{ item.theme|upper }}</p>
                            <p class="qty-summary dark-text"><strong>Qty:</strong> {{ item.quantity }}</p>
                        </div>
                    </div>

                    <div class="summary-subtotal container-col dark-text">${{ item.product.price | calc_subtotal:item.quantity }}</div>
                </div>
                {% endfor %}

                <div class="cart-total-container container-col">
                    <div class="cart-delivery-total-container container-col">
                        <div class="cart-total-text dark-text">Cart Total: ${{ total|floatformat:2 }}</div>
                        <div class="cart-real-world-text dark-text">Real Items Total: ${{ real_items_total|floatformat:2 }}</div>
                        <div class="cart-delivery-text dark-text">Delivery: ${{ delivery|floatformat:2 }}</div>
                    </div>
                    <div class="grand-total-text dark-text">
                        <strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong>
                    </div>
                    {% if discount_delta > 0 %}
                    <p class="discount-delta-text dark-text">
                        You can get {{ discount_percentage }}$ off by spending <strong>${{ discount_delta }}</strong> more!
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="loading-overlay">
    <div class="loading-icon-container">
        <div class="loading-icon"></div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}
