/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* Project wide */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --WHITE: #ffffff;
    --GRAY-DARK-1: #333333;
    --GRAY-DARK-2: #636363;
    --GRAY-LIGHT-1: #f5f5f5;
    --GRAY-LIGHT-2: #d8d8d8;
    --GRAY-LIGHT-3: #eeeeee;
    --TRANSPARENT-DARK-1: #00000070;
    --TRANSPARENT-DARK-2: #0000004e;
    --TRANSPARENT-DARK-3: #00000081;
    --TRANSPARENT-LIGHT: #f5f5f59d;
    --TRANSPARENT-LIGHT-2: #f5f5f541;
    --GREEN-1: #4ec437;
    --RED-1: #d31d1d;
    --MAIN-1: #ffa351;
}

body {
    background-color: var(--GRAY-LIGHT-1);
    min-height: 100vh;
    position: relative;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--GRAY-LIGHT-1);
    padding: 50px 0;
}

.section-container {
    width: 1400px;
}

.container-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.img-100a {
    width: 100%;
    height: auto;
}

.dark-text {
    color: var(--GRAY-DARK-1);
    font-size: 1.5rem;
}

.white-text {
    color: var(--WHITE);
    font-size: 1.5rem;
}

.center-text {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: var(--MAIN-1);
    color: var(--WHITE);
    border: none;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 1500px) {
    .section {
        padding: 40px 0;
    }

    .section-container {
        width: 1000px;
    }

    .dark-text,
    .white-text,
    .btn {
        font-size: 1.3rem;
    }

    .btn {
        padding: 12px 20px;
    }
}

@media (max-width: 1080px) {
    .section {
        padding: 30px 0;
    }

    .section-container {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 25px 0;
    }

    .section-container {
        width: 330px;
    }
}

/* Header */

header {
    width: 100%;
    height: 160px;
    background-color: var(--GRAY-LIGHT-1);
}

/* Top Header */

.top-header-container {
    justify-content: space-between;
    width: 100%;
    height: 110px;
    padding: 0 50px;
}

.logo-header-container {
    gap: 10px;
    width: 400px;
    height: 100%;
}

.logo-img-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--MAIN-1);
}

.logo-text {
    font-size: 32px;
}

.search-header-container {
    width: 600px;
}

.search-products-header-input {
    padding: 10px 40px;
    border-radius: 10px 0 0 10px;
    font-size: 1.5rem;
    border: 2px solid var(--GRAY-DARK-2);
    border-right: none !important;
    width: 530px;
    height: 60px;
}

.search-products-header-input:focus {
    outline: none;
    border: 3px solid var(--MAIN-1);
    border-right: none !important;
}

.search-products-header-btn {
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--GRAY-DARK-2);
    border-left: none !important;
    background-color: var(--MAIN-1);
    width: 70px;
    height: 60px;
    cursor: pointer;
}

.search-products-header-input:focus + .search-products-header-btn {
    border: 2px solid var(--MAIN-1);
    border-left: none !important;
}

.account-cart-container {
    width: 400px;
    gap: 10px;
    position: relative;
    height: 100%;
    background-color: var(--GRAY-LIGHT-1);
}

.account-header-container,
.cart-header-container {
    gap: 5px;
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 150px;
}

.cart-header-img-container,
.account-header-img-container {
    width: 60px;
    height: 60px;
}

.account-header-dropdown-container,
.cart-header-dropdown-container {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 11;
    overflow: hidden;
}

.account-header-dropdown-wrapper,
.cart-header-dropdown-wrapper {
    gap: 15px;
    background-color: var(--GRAY-LIGHT-1);
    border-radius: 0px 0px 5px 5px;
    transform: translateY(-100%);
    transition: all 0.2s ease;
    border: 2px solid var(--MAIN-1);
    border-top: none !important;
    width: 400px;
    padding: 20px 20px 30px 20px;
}

.account-header-dropdown-container {
    right: -205px;
}

.cart-header-dropdown-container {
    left: -205px;
}

.account-header-dropdown-wrapper.active {
    transform: translateY(0%);
}

.cart-header-dropdown-container .dark-text {
    text-align: center;
}

.account-link {
    position: relative;
}

.account-link::after {
    position: absolute;
    width: 0px;
    height: 3px;
    transition: all 0.3s ease;
    bottom: -3px;
    background-color: var(--MAIN-1);
    content: "";
    left: 0;
}

.account-link:hover::after {
    width: 100%;
}

.cart-header-dropdown-container {
    width: 400px;
}

.cart-header-total-breakdown {
    width: 300px;
    gap: 10px
}

.fa-icon {
    margin-right: 10px;
}

.total-breakdown-item-container {
    width: 100%;
    justify-content: space-between;
}

.view-cart-link {
    color: var(--MAIN-1);
}

@media (max-width: 1500px) {
    .top-header-container {
        padding: 0 30px;
    }

    .logo-header-container {
        width: 250px;
    }

    .logo-img-container {
        width: 75px;
        height: 75px;
    }

    .logo-text {
        font-size: 24px;
    }

    .search-header-container {
        width: 400px;
    }

    .search-products-header-input {
        width: 340px;
        height: 50px;
        padding: 8px 30px;
    }

    .search-products-header-btn {
        width: 60px;
        height: 50px;
    }

    .account-cart-container {
        width: 250px;
    }

    .account-header-container,
    .cart-header-container {
        width: 130px;
    }

    .account-header-container .dark-text,
    .cart-header-container .dark-text {
        font-size: 1.3rem;
    }

    .cart-header-img-container,
    .account-header-img-container {
        width: 50px;
        height: 50px;
    }

    .account-header-dropdown-wrapper,
    .cart-header-dropdown-wrapper {
        width: 250px;
        padding: 15px 15px 20px 15px;
        gap: 10px;
    }

    .account-header-dropdown-container {
        right: -130px;
    }

    .cart-header-dropdown-container {
        left: -130px;
    }

    .total-breakdown-item-container {
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .fa-icon {
        margin-right: 8px;
    }

    .view-cart-link {
        color: var(--MAIN-1);
    }
}

@media (max-width: 1080px) {
    .top-header-container {
        padding: 0 25px;
    }

    .logo-header-container {
        width: 120px;
    }

    .logo-img-container {
        width: 75px;
        height: 75px;
    }

    .logo-text {
        display: none;
    }

    .search-header-container {
        width: 400px;
    }

    .search-products-header-input {
        width: 340px;
        height: 50px;
        padding: 8px 30px;
    }

    .search-products-header-btn {
        width: 60px;
        height: 50px;
    }

    .account-cart-container {
        width: 120px;
    }

    .account-header-container,
    .cart-header-container {
        width: 50px;
    }

    .account-header-container .dark-text,
    .cart-header-container .dark-text {
        color: var(--WHITE);
    }

    .account-header-container .account-header-text,
    .cart-header-container .cart-header-text {
        display: none;
    }

    .cart-header-img-container,
    .account-header-img-container {
        width: 50px;
        height: 50px;
    }

    .account-header-dropdown-wrapper,
    .cart-header-dropdown-wrapper {
        width: 100vw;
        padding: 15px 15px 20px 15px;
        gap: 10px;
        border-radius: 0px;
        border: none;
        position: fixed;
        left: 0;
        top: 110px;
        transform: translate(0%, 0%);
        transition: none;
        background-color: var(--GRAY-DARK-1);
    }

    .account-header-dropdown-container {
        left: 0;
    }

    .total-breakdown-item-container {
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .view-cart-link {
        color: var(--MAIN-1);
    }

}

@media (max-width: 768px) {
    .top-header-container {
        padding: 0 20px;
    }

    .logo-header-container {
        width: 100px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 99;
        height: 110px;
    }

    .search-header-container {
        width: 100vw;
        position: absolute;
        top: 110px;
        left: 0;
        background-color: var(--GRAY-LIGHT-1);
        z-index: 999;
        height: 50px;
        align-items: flex-start;
    }

    .search-products-header-input {
        width: 290px;
        height: 40px;
        padding: 8px 30px;
        font-size: 1.3rem;
    }

    .search-products-header-btn {
        height: 40px;
    }

    .account-cart-container {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }

    .account-header-dropdown-wrapper,
    .cart-header-dropdown-wrapper {
        top: 160px;
    }

    .view-cart-link {
        color: var(--MAIN-1);
    }

}

/* Bottom Header */

.bottom-header-container {
    height: 50px;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    background-color: var(--GRAY-DARK-2);
    padding-left: 75px;
}

.bottom-header-dropdown-container {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--GRAY-DARK-1);
    display: none;
    padding: 50px 0;
    gap: 50px;
    z-index: 999;
}

.bottom-header-dropdown-wrapper {
    gap: 80px;
    align-items: flex-start;
}

.bottom-header-dropdown-container.active {
    display: flex;
}   

.bottom-header-dropdown-heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--WHITE);
    cursor: pointer;
    height: 100%;
    width: 160px;
}

.bottom-header-dropdown-heading.active {
    background-color: var(--GRAY-DARK-1);
}

.bottom-header-dropdown-item {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 400px;
}

.bottom-header-dropdown-item-heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--WHITE);
    flex-basis: 100%;
    text-align: center;
    position: relative;
}

.bottom-header-dropdown-item-heading::after {
    content: "";
    top: calc(100% + 3px);
    height: 2px;
    width: 350px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--WHITE);
}

.bottom-header-dropdown-link {
    color: var(--WHITE);
    cursor: pointer;
    font-size: 1.3rem;
    flex-basis: 50%;
    margin-top: 15px;
    position: relative;
}

.bottom-header-dropdown-link::after,
.bottom-header-dropdown-item-ending::after {
    position: absolute;
    width: 0px;
    height: 100%;
    transition: all 0.2s ease;
    left: 0;
    background-color: var(--MAIN-1);
    content: "";
    top: 0;
}

.bottom-header-dropdown-link:hover::after,
.bottom-header-dropdown-item-ending:hover::after {
    width: 3px;
}

.bottom-header-dropdown-link:hover,
.bottom-header-dropdown-item-ending:hover {
    padding-left: 10px;
}

.bottom-header-dropdown-item {
    align-items: flex-start;
}

.bottom-header-dropdown-item-ending {
    color: var(--WHITE);
    cursor: pointer;
    font-size: 1.3rem;
    flex-basis: 100%;
    text-align: left;
    margin-top: 15px;
    position: relative;
}

@media (max-width: 1500px) {
    .bottom-header-container {
        padding-left: 50px;
    }

    .bottom-header-dropdown-container {
        padding: 40px 0;
    }

    .bottom-header-dropdown-wrapper {
        gap: 50px;
    }

    .bottom-header-dropdown-heading {
        width: 140px;
        font-size: 1.3rem;
    }

    .bottom-header-dropdown-item {
        width: 300px;
    }

    .bottom-header-dropdown-item-heading::after {
        width: 300px;
    }

    .bottom-header-dropdown-link:hover,
    .bottom-header-dropdown-item-ending:hover {
        padding-left: 7px;
    }
}

@media (max-width: 1080px) {
    .bottom-header-dropdown-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .bottom-header-container {
        top: 50px;
        justify-content: center;
        padding-left: 0;
    }

    .bottom-header-dropdown-container {
        padding: 30px 0;
    }
}

/* Discount Displays */

.discount-display-section {
    width: 100%;
    padding: 10px;
    background-color: var(--GRAY-DARK-1);
}

.discount-display-text {
    color: var(--WHITE);
    font-size: 2rem;
}

@media (max-width: 768px) {
    .discount-display-text {
        font-size: 1.3rem;
    }

    .discount-display-section {
        margin-top: 50px;
    }
}

/* Footer */

footer {
    height: 100px;
    width: 100%;
    background-color: var(--GRAY-LIGHT-1);
    border-top: 2px solid var(--GRAY-LIGHT-2);
}

.footer-container {
    height: 100%;
    justify-content: space-between;
}

.footer-contact-container,
.copyright-container {
    width: 270px;
    justify-content: space-between;
}

.footer-contact-policy-container {
    gap: 10px;
}

.footer-text {
    font-size: 1.3rem;
    color: var(--GRAY-DARK-2);
}

.copyright-text-container {
    gap: 5px;
}

.copyright-company-text-container {
    align-items: flex-start;
    gap: 5px;
}

.footer-logo-img-container {
    height: 80px;
    width: 80px;
}

@media (max-width: 768px) {
    footer {
        height: 200px;
    }

    .footer-container {
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
}

/* Messages */

.message-container {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.toast-notification-container {
    width: 550px;
    border-radius: 3px;
    padding: 20px 40px;
    gap: 10px;
    display: none;
}

.toast-notification-container .toast-body {
    width: 100%;
}

.toast-notification-container .notification-message {
    word-wrap: break-word;
    width: 100%;
}

.toast-success {
    background-color: var(--GRAY-LIGHT-1);
    border-bottom: 3px solid var(--GREEN-1);
    border-top: 3px solid var(--GREEN-1);
}

.toast-error {
    background-color: var(--GRAY-LIGHT-1);
    border-bottom: 3px solid var(--RED-1);
    border-top: 3px solid var(--RED-1);
}

.toast-info {
    background-color: var(--GRAY-LIGHT-1);
    border-bottom: 3px solid #f7e226;
    border-top: 3px solid #f7e226;
}

.toast-warning {
    background-color: var(--GRAY-LIGHT-1);
    border-bottom: 3px solid #dd8500;
    border-top: 3px solid #dd8500;
}

.toast-header {
    width: 100%;
    justify-content: space-between;
}

.toast-body {
    width: 100%;
    align-items: flex-start;
}

.close-toast-btn {
    padding: 0;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
}

@media (max-width: 768px) {
    .toast-notification-container {
        width: 330px;
    }
}

/* Product Form */

.custom-file-input {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox-container {
    gap: 5px;
}

input.custom-checkbox-input {
    appearance: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5rem!important;
    height: 1.5rem;
    border: 2px solid var(--GRAY-DARK-2)!important;
    border-radius: 3px!important;
    outline: none;
    position: relative;
    cursor: pointer;
    padding: 0!important;
    margin: 0;
}
  
input.custom-checkbox-input::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 25%;
    width: 30%;
    height: 70%;
    border: solid var(--MAIN-1);
    border-width: 0 3px 3px 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
  
input.custom-checkbox-input:checked::before {
    opacity: 1;
}

.custom-select-img-container {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}