/* View Cart */

.view-cart-section {
    min-height: calc(100vh - 218px);
}

.view-cart-section-container {
    width: 1400px;
}

.view-cart-section-heading {
    align-self: flex-start;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.cart-items-container,
.cart-item-heading-container,
.cart-item-product-container {
    width: 100%;
}

.cart-item-product-container {
    margin-bottom: 20px;
}

.product-info-row-container,
.product-price-row-container,
.product-qty-row-container,
.product-subtotal-row-container {
    height: 300px;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-info-heading,
.product-price-heading,
.product-qty-heading,
.product-subtotal-heading {
    height: fit-content;
    margin-bottom: 20px;
}

.product-info-row-container {
    width: 56%;
}

.product-price-row-container,
.product-subtotal-row-container {
    width: 9%;
}

.product-qty-row-container {
    width: 26%;
}

.product-info-img-container {
    width: 300px;
    height: 300px;
}

.product-info-text-container {
    width: calc(100% - 300px);
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.product-price,
.product-qty,
.product-subtotal {
    margin-top: 20px;
}

.cart-total-container,
.cart-delivery-total-container,
.checkout-return-btns-container {
    align-self: flex-end;
    align-items: flex-end;
}

.cart-total-container {
    gap: 30px;
    margin-bottom: 30px;
}

.cart-delivery-total-container {
    gap: 15px;
}

.checkout-return-btns-container {
    gap: 20px;
}

.empty-cart-container {
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    align-self: flex-start;
    justify-self: flex-start;
    margin-bottom: 200px;
}

.atc-qauntity-input-container .qty_input {
    width: 100%;
    border: 2px solid var(--GRAY-DARK-2);
    border-radius: 30px;
    font-size: 1.5rem;
    color: var(--GRAY-DARK-1);
    padding: 10px 20px 10px 70px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.atc-qauntity-input-container {
    width: 100%;
    position: relative;
}

.update-qty-form {
    width: 75%;
}

.atc-qauntity-input-container .decrement-qty,
.atc-qauntity-input-container .increment-qty {
    position: absolute;
    width: 20px;
    height: 100%;
}

.atc-qauntity-input-container .decrement-qty {
    left: 0;
    border-radius: 10px 0 0 10px;
    border: 2px solid var(--GRAY-DARK-2);
    border-right: none !important;
}

.atc-qauntity-input-container .increment-qty {
    right: 0;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid var(--GRAY-DARK-2);
    border-left: none !important;
}

.adjust-cart-btns-container {
    justify-content: space-between;
    width: 75%;
    margin-top: 20px;
}

.adjust-cart-btns-container .btn{
    width: 120px;
}

.update-qty-btn {
    background: var(--GREEN-1);
}

.remove-item-btn {
    background: var(--RED-1);
}

.keep-shopping-btn {
    background-color: var(--GRAY-DARK-1);
}