/* Checkout */

.checkout-section-container {
    width: 1400px;
}

.checkout-section-heading {
    align-self: flex-start;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.checkout-section-wrapper {
    width: 100%;
    justify-content: space-between;
}

.checkout-form-container,
.cart-summary-container {
    width: calc(50% - 100px);
    align-items: flex-start;
}

.checkout-form {
    width: 100%;
    align-items: flex-start;
    gap: 30px;
}

.details-checkout-form-container,
.delivery-checkout-form-container {
    width: 100%;
    align-items: flex-start;
}

.save-info-checkout-form-container {
    gap: 20px;
}

.submit-checkout-form-container {
    gap: 20px;
    align-items: flex-start;
}

.cart-summary-container {
    align-self: flex-start;
}

.cart-summary-heading-container {
    width: 100%;
    margin-top: 10px;
}

.cart-summary-item-heading,
.cart-summary-product-item-container {
    width: 90%;
    justify-content: flex-start;
}

.cart-summary-subtotal-heading,
.summary-subtotal {
    width: 10%;
    justify-content: flex-start;
}

.cart-summary-product-container {
    margin-top: 10px;
    width: 100%;
    align-items: flex-start;
}

.cart-summary-img-container {
    width: 140px;
    height: 140px;
}

.cart-summary-product-info-container {
    width: calc(100% - 140px);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
}

.summary-subtotal {
    margin-top: 20px;
}

/* Stripe */

.stipe-card-form-container {
    width: 100%;
    align-items: flex-start;
}

.stripe-card-element-container {
    width: 100%;
}

#card-element {
    padding: 20px;
    border: 1px solid var(--GRAY-DARK-2);
    border-radius: 4px;
}

.StripeElement {
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}