/* Checkout */

.checkout-section-heading {
    align-self: flex-start;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.checkout-section {
    min-height: calc(100vh - 200%);
}

.checkout-section-wrapper {
    width: 100%;
    justify-content: space-between;
}

.checkout-form-container,
.cart-summary-container {
    align-items: flex-start;
}

.checkout-form-container {
    width: 500px;
}

.cart-summary-container {
    width: 700px;
}

.checkout-form {
    width: 100%;
    align-items: flex-start;
    gap: 30px;
}

.details-checkout-form-container,
.delivery-checkout-form-container {
    width: 100%;
    align-items: flex-start;
}

.save-info-checkout-form-container {
    gap: 20px;
}

.submit-checkout-form-container {
    gap: 20px;
    align-items: flex-start;
}

.checkout-form input,
.checkout-form select {
    width: 300px;
    padding: 10px 20px 10px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--GRAY-DARK-2);
    color: var(--GRAY-DARK-1);
    margin-top: 10px;
}

.checkout-form input:focus {
    border: 2px solid var(--MAIN-1);
    outline: none;
}

input#id-save-info {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--GRAY-DARK-2);
    border-radius: 3px;
    outline: none;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
  
input#id-save-info::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 25%;
    width: 30%;
    height: 70%;
    border: solid var(--MAIN-1);
    border-width: 0 3px 3px 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
  
input#id-save-info:checked::before {
    opacity: 1;
}

.submit-checkout-form-container .btn {
    width: 200px;
}

.adjust-cart-btn {
    background-color: var(--GRAY-DARK-1);
}

.checkout-form-top-text {
    margin-bottom: 20px;
}

@media (max-width: 1500px) {
    .checkout-form input,
    .checkout-form select {
        font-size: 1.3rem;
    }

    .checkout-form-container {
        width: 380px;
    }
}

@media (max-width: 1080px) {
    .checkout-section-wrapper {
        justify-content: center;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .checkout-form-container {
        width: 330px;
        align-self: flex-start;
    }
}

/* Cart Summary */

.cart-summary-container {
    align-self: flex-start;
}

.cart-summary-heading-container {
    width: 100%;
    margin-top: 10px;
}

.cart-summary-item-heading,
.cart-summary-product-item-container {
    width: 80%;
    justify-content: flex-start;
}

.cart-summary-item-heading,
.cart-summary-subtotal-heading {
    font-weight: 600;
}

.cart-summary-subtotal-heading,
.summary-subtotal {
    width: 20%;
    justify-content: flex-start;
    align-items: flex-end;
}

.cart-summary-product-container {
    margin-top: 10px;
    width: 100%;
    align-items: flex-start;
}

.cart-summary-img-container {
    width: 140px;
    height: 140px;
}

.cart-summary-product-info-container {
    width: calc(100% - 140px);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
}

.summary-subtotal {
    margin-top: 20px;
}

.cart-total-container,
.cart-delivery-total-container {
    align-self: flex-end;
    align-items: flex-end;
}

.cart-total-container {
    gap: 30px;
    margin-top: 50px;
}

.cart-delivery-total-container {
    gap: 15px;
}

@media (max-width: 768px) {

    .cart-summary-container {
        width: 330px;
    }

    .cart-summary-img-container {
        width: 90px;
        height: 90px;
    }

    .cart-summary-product-info-container {
        width: calc(100% - 90px);
        padding: 0 0 0 10px;
    }

    .summary-subtotal {
        margin-top: 0;
        align-self: flex-end;
    }
}
/* Stripe */

.stipe-card-form-container {
    width: 100%;
    align-items: flex-start;
}

.stripe-card-element-container {
    width: 100%;
}

#card-element {
    height: 40px;
    padding: 10px;
    border: 2px solid var(--GRAY-DARK-2);
    border-radius: 5px;
    background-color: var(--GRAY-LIGHT-1);
}

.StripeElement {
    height: 40px;
    padding: 10px;
    border: 2px solid var(--GRAY-DARK-2);
    border-radius: 5px;
    background-color: var(--GRAY-LIGHT-1);
}

.stripe-card-heading {
    margin-bottom: 10px;
}

/* Checkout Success */

.checkout-section {
    min-height: calc(100vh - 218px);
    justify-content: flex-start;
}

.checkout-success-section-container {
    align-items: flex-start;
    gap: 20px;
}

.order-confirmation-container {
    padding: 30px;
    width: 1000px;
    border-radius: 5px;
    border: 2px solid var(--GRAY-DARK-2);
    gap: 10px;
}

.order-confirmation-section-heading {
    font-size: 1.3rem;
    color: var(--GRAY-DARK-2);
    align-self: flex-start;
}

.order-confirmation-row {
    width: 100%;
}

.order-confirmation-row .left-text {
    width: 40%;
    align-items: flex-start;
    font-weight: 600;
}

.order-confirmation-row .right-text {
    width: 60%;
    align-items: flex-end;
    text-align: right;
}

.order-number-container .right-text,
.order-date-container .right-text {
    text-transform: uppercase;
}

.loading-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--TRANSPARENT-DARK-1);
    display: none;
    z-index: 9999;
    left: 0;
    top: 0;
}

.loading-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--GRAY-LIGHT-1);
    border-top: 10px solid var(--MAIN-1);
    animation: spin 1s infinite linear;
}

.loading-icon-container {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 1080px) {

    .order-confirmation-container {
        width: 700px;
    }
}

@media (max-width: 768px) {

    .order-confirmation-container {
        width: 330px;
    }

    .order-confirmation-row {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .order-confirmation-row .left-text {
        width: 100%;
    }

    .order-confirmation-row .right-text {
        align-items: flex-start;
        text-align: start;
        width: 100%;
        word-wrap: break-word;
    }
}
