/* Contact */

.contact-section-container {
    gap: 50px;
}

.contact-form {
    gap: 20px;
}

.contact-form-input-container {
    width: 450px;
    align-items: flex-start;
    gap: 5px;
}

.contact-form input,
.contact-form textarea,
.mc-input {
    width: 450px;
    padding: 10px 20px 10px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--GRAY-DARK-2);
    color: var(--GRAY-DARK-1);
}

.contact-form input:focus,
.mc-input:focus,
.contact-form textarea:focus {
    border: 2px solid var(--MAIN-1);
    outline: none;
}

.contact-form-submit-btn {
    width: 450px;
}

.contact-info-container {
    align-items: flex-start;
    width: 450px;
    gap: 20px;
}

.contact-info-text {
    color: var(--MAIN-1);
}

@media (max-width: 1080px) {
    .contact-section-container {
        flex-direction: column;
        gap: 30px;
    }

}

@media (max-width: 768px) {
    .contact-form-input-container,
    .contact-form-submit-btn,
    .contact-form input,
    .contact-form textarea,
    .contact-info-container {
        width: 330px;
    }
}

/* Mail Chimp */

#mc_embed_signup {
    background:#f5f5f5; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
    width: 299px;
}

.optionalParent p,
.indicates-required {
    display: none;
}

.social-media-container,
.newsletter-container,
.mc-form-container {
    align-items: flex-start;
    gap: 10px;
}

.mc-input {
    width: 200px;
    font-size: 1.3rem;
    padding: 8px 16px;
}

.mc-form-container .btn {
    font-size: 1.3rem;
    padding: 8px 16px;
}

.social-media-container i {
    color: var(--MAIN-1);
    font-size: 1.5rem;
}
