.home-hero-section {
    width: 100%;
    height: calc(100vh - 218px);
    background-color: var(--MAIN-1);
    position: relative;
}

.home-hero-img-container {
    width: 100%;
    height: 100%;
}

.home-hero-img {
    width: 100%;
    height: auto;
}

.home-hero-heading-container {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    gap: 20px;
    align-items: flex-start;
}

.hhh-1,
.hhh-2 {
    font-size: 4rem;
    color: var(--WHITE);
}

.hhh-3 {
    color: var(--WHITE);
    font-size: 2.5rem;
}

.hhh-btn {
    margin-left: 40px;
}

.home-hero-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--TRANSPARENT-DARK-1);
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width: 1500px) {
    .home-hero-img {
        height: 100%;
        width: auto;
    }

    .hhh-1,
    .hhh-2 {
        font-size: 3rem;
    }

    .hhh-3 {
        font-size: 2.2rem;
    }
}

@media (max-width: 1080px) {
    .hhh-1,
    .hhh-2 {
        font-size: 2.8rem;
    }

    .hhh-3 {
        font-size: 2rem;
    }

    .hhh-btn {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .hhh-1,
    .hhh-2 {
        font-size: 2rem;
    }

    .hhh-3 {
        font-size: 1.5rem;
    }

    .hhh-btn {
        margin-left: 0px;
    }

    .home-hero-heading-container {
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

/* Policy */

.policy-section-container {
    align-items: flex-start;
    gap: 15px;
}

/* Home Gallery */

.home-gallery-section-container {
    gap: 30px;
}

.home-gallery-heading-container {
    gap: 10px;
}

.home-gallery-heading {
    font-size: 2.5rem;
}

.home-gallery-container {
    gap: 20px;
    width: 1050px;
    flex-wrap: wrap;
}

.home-gallery-img-container {
    width: 330px;
    height: 330px;
}

@media (max-width: 1080px) {
    .home-gallery-container {
        width: 700px;
    }

    .home-gallery-img-container.img-container-1 {
        order: 1;
    }

    .home-gallery-img-container.img-container-2 {
        order: 3;
    }
    
    .home-gallery-img-container.img-container-3 {
        order: 2;
    }
    
    .home-gallery-img-container.img-container-4 {
        order: 5;
    }

    .home-gallery-img-container.img-container-5 {
        order: 4;
    }

    .home-gallery-img-container.img-container-6 {
        order: 6;
    }

    .home-gallery-heading {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .home-gallery-container {
        width: 330px;
    }

    .home-gallery-img-container.img-container-1 {
        display: none;
    }

    .home-gallery-img-container.img-container-2 {
        order: 1;
    }
    
    .home-gallery-img-container.img-container-3 {
        display: none;
    }
    
    .home-gallery-img-container.img-container-4 {
        display: none;
    }

    .home-gallery-img-container.img-container-5 {
        order: 2;
    }

    .home-gallery-img-container.img-container-6 {
        display: none;
    }

    .home-gallery-heading {
        font-size: 1.5rem;
    }
}

/* Home Taglines */

.home-tagline-section {
    background-color: var(--MAIN-1);
}

.home-tagline-container {
    height: 140px;
    width: 830px;
    justify-content: flex-start;
    gap: 50px;
}

.home-tagline-text {
    font-size: 2.5rem;
    height: 80px;
}

.home-tagline-img-container {
    width: 80px;
    height: 80px;
}

.bigTriangleColor {
    background-color: var(--GRAY-LIGHT-1);
}

.bigTriangleColor path {
    fill: var(--MAIN-1)
}

@media (max-width: 1080px) {
    .home-tagline-container {
        width: 700px;
        gap: 30px;
    }

    .home-tagline-text {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .home-tagline-container {
        width: 330px;
        align-items: center;
        height: 100px;
    }

    .home-tagline-text {
        font-size: 1.2rem;
        text-align: center;
    }

    .home-tagline-img-container {
        display: none;
    }
}


/* Home Categories */

.home-categories-section-container {
    align-items: flex-start;
    width: 1000px;
}

.home-categories-section-heading {
    font-size: 2.5rem;
    align-self: center;
}

.home-categories-heading {
    font-size: 2.5rem;
    margin-top: 30px;
}

.home-category-container {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.home-category-heading {
    position: absolute;
    font-size: 2.5rem;
    z-index: 11;
    cursor: pointer;
    top: 50%;
}

.home-category-heading.left {
    left: 12.5%;
    transform: translate(-50%, -50%);
}

.home-category-heading.right {
    right: 12.5%;
    transform: translate(50%, -50%);
}

.home-category-heading-container {
    width: 100%;
    height: 100%;
    background-color: var(--TRANSPARENT-DARK-3);
    position: absolute;
    cursor: pointer;
    z-index: 10;
    transition: all 0.7s ease;
}

.home-category-heading-container.left {
    transform: translateX(-70%);
    left: 0;
    border-radius: 0 150px 150px 0;
}

.home-category-heading-container.right {
    transform: translateX(70%);
    right: 0;
    border-radius: 150px 0 0 150px;
}

.home-category-container:hover .home-category-heading-container {
    transform: translateX(0%);
    border-radius: 0;
}

.home-category-heading::after {
    height: 4px;
    content: "";
    background-color: var(--MAIN-1);
    position: absolute;
    bottom: 0;
    transition: all 0.8s ease;
    width: 0;
}

.home-category-heading.left::after {
    left: 0;
}

.home-category-heading.right::after {
    right: 0;
}


.home-category-container:hover .home-category-heading::after {
    width: 100%;
}

.home-category-img-container {
    width: 100%;
    height: 100%;
}

@media (max-width: 1080px) {
    .home-categories-section-container {
        width: 700px;
    }

    .home-categories-section-heading,
    .home-categories-heading,
    .home-category-heading {
        font-size: 2rem;
    }

    .home-category-container {
        height: 210px;
    }
}

@media (max-width: 768px) {
    .home-categories-section-container {
        width: 330px;
    }

    .home-categories-section-heading,
    .home-categories-heading,
    .home-category-heading {
        font-size: 1.5rem;
    }

    .home-category-container {
        height: 147px;
    }

    .home-category-heading-container.left {
        transform: translateX(-50%);
    }

    .home-category-heading-container.right {
        transform: translateX(50%);
    }

    .home-category-heading.left {
        left: 25%;
    }
    
    .home-category-heading.right {
        right: 25%;
    }
}

/* Home Reviews section */

.home-reviews-section {
    background-color: var(--MAIN-1);
}

.home-reviews-section-container {
    gap: 20px;
}

.home-review-display {
    font-size: 2.5rem;
    text-align: center;
}

.home-review-btn {
    background-color: var(--GRAY-DARK-1);
}

@media (max-width: 1500px) {
    .home-review-display {
        font-size: 1.9rem;
    }
}

@media (max-width: 768px) {
    .home-review-display {
        font-size: 1.5rem;
    }
}

/* Reviews section */

.reviews-section {
    min-height: calc(100vh - 218px);
    justify-content: flex-start;
    align-items: center;
}

.reviews-section-heading {
    font-size: 2.5rem;
    margin-left: 55px;
}

.reviews-section-container {
    gap: 30px;
    padding: 0 15%;
    align-items: flex-start;
}

.review-text {
    color: var(--GRAY-DARK-2);
}

.reviews-quote-icon {
    font-size: 2.5rem;
    color: var(--MAIN-1);
}

.reviews-quote-icon.home {
    color: var(--GRAY-DARK-1);
}

.review-container {
    gap: 20px;
    align-items: flex-start;
}

@media (max-width: 1500px) {

    .reviews-quote-icon {
        font-size: 2rem;
    }

    .review-container {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .reviews-section-heading {
        font-size: 2rem;
        margin-left: 0;
        text-align: center;
    }

    .reviews-section-container {
        padding: 0 10%;
    }
}