/* Product List */

.product-list-section {
    min-height: calc(100vh - 200px);
}

.product-list-section-container {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.product-card {
    width: 335px;
    overflow: hidden;
    height: 490px;
    gap: 20px;
    justify-content: flex-start;
}

.product-card-img-container {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.product-card-text-container {
    text-align: center;
    width: 100%;
}

.product-card-name {
    height: 70px;
    width: 100%;
}

.product-card-rating {
    padding-top: 10px;
}

/* Product Detail */

.product-detail-section-container {
    justify-content: space-between;
    width: 1200px;
}

.product-detail-img-container {
    border-radius: 5px;
    width: 500px;
    height: 500px;
}

.product-detail-text-container {
    width: 500px;
    align-items: flex-start;
    gap: 15px;
}

.product-detail-name {
    font-size: 3rem;
    font-size: 600;
    align-self: center;
    text-align: center;
}

.product-detail-price {
    font-size: 2rem;
    align-self: center;
}

.atc-form {
    width: 100%;
}

.atc-form-container {
    gap: 30px;
    width: 100%;
}

.atc-quantity-container {
    gap: 15px;
}

.atc-add-container {
    gap: 20px;
}

/* Product Filter Select */

.custom-select-filter-container {
    width: 300px;
    padding: 10px 20px;
    border: 2px solid var(--MAIN-1);
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.custom-select-filter-container i,
.custom-select-filter-heading {
    color: var(--MAIN-1);
    font-size: 1.5rem;
}

.custom-select-filter-container i {
    transition: all 0.2s ease;
}

.custom-select-filter-container.nothing-selected {
    border: 2px solid var(--GRAY-DARK-2);
}

.custom-select-filter-container.nothing-selected i,
.custom-select-filter-container.nothing-selected .custom-select-filter-heading {
    color: var(--GRAY-DARK-2);
}

.custom-select-filter-dropdown-container {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    width: 300px;
    border: 2px solid var(--MAIN-1);
    align-items: flex-start;
    left: 0;
    background-color: var(--GRAY-LIGHT-1);
    border-radius: 5px;
    z-index: 99;
    height: 200px;
    overflow-y: scroll;
    justify-content: flex-start;
    gap: 5px
}

.custom-select-filter-dropdown-container .dropdown-value {
    cursor: pointer;
    width: 250px;
    border-radius: 5px;
    padding: 10px 15px;
}