{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block content %}

<section class="add-product-section section">
    <div class="add-product-section-container section-container container-col">
        <h2 class="add-product-section-heading dark-text">Product Management</h2>
        <div class="add-product-section-subheading dark-text">Add a Product</div>
        <div class="add-product-form-container container-col">

            <form action="{% url 'add_product' %}" method="POST" class="add-product-form container-col" id="payment-form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Category</p>
                    <label for="id_category" class="sr-only">category</label>
                    {{ form.category }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Brand</p>
                    <label for="id_brand" class="sr-only">brand</label>
                    {{ form.brand }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Sku</p>
                    <label for="id_sku" class="sr-only">sku</label>
                    {{ form.sku }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Name</p>
                    <label for="id_name" class="sr-only">Name</label>
                    {{ form.name }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Description</p>
                    <label for="id_description" class="sr-only">description</label>
                    {{ form.description }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Has Themes</p>
                    <label for="id_has_themes" class="sr-only">has_themes</label>
                    {{ form.has_themes }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Price</p>
                    <label for="id_price" class="sr-only">price</label>
                    {{ form.price }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Rating</p>
                    <label for="id_rating" class="sr-only">rating</label>
                    {{ form.rating }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Image Url</p>
                    <label for="id_image_url" class="sr-only">image_url</label>
                    {{ form.image_url }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Image</p>
                    <label for="id_image" class="sr-only">image</label>
                    {{ form.image }}
                </div>

                <div class="add-product-form-btns-container container-row">
                    <a href="{% url 'custom_admin' %}" class="cancel-btn btn">
                        <span class="fa-icon"><i class="fa-solid fa-chevron-left"></i></span>
                        Cancel
                    </a>
                    <button type="submit" class="btn add-product-submit-btn">
                        <span class="fa-icon"><i class="fa-solid fa-circle-plus"></i></span>
                        Add Product
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/product-management.js' %}"></script>
{% endblock %}