{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}

<section class="account-form-section section">
  <div class="account-form-section-img-bg-container img-container">
      <img src="{{ MEDIA_URL }}home-2.png" alt="Metaverse" class="img-100a">
  </div>
  <div class="account-form-section-overlay"></div>

  <div class="account-card-container container-row">
      <div class="account-card-img-container img-container">
          <img src="{{ MEDIA_URL }}account-card-1.png" alt="" class="img-100a">
          <div class="account-card-img-overlay"></div>
          <div class="account-card-img-text-container container-col">

            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
            <p class="white-text">{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a class="account-card-sign-up-link" href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
            
            <div class="socialaccount_ballot">
            
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
            
              <div class="login-or">{% trans 'or' %}</div>
            
            </div>
            
            {% include "socialaccount/snippets/login_extra.html" %}
            
            {% else %}
            
            <p class="white-text">{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}" class="account-card-sign-up-link">sign up</a> first.{% endblocktrans %}</p>
            
            {% endif %}

          </div>
      </div>

      <div class="account-card-form-container container-col">
        <form class="login account-card-form container-col" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="account-form-card-heading-container container-col">
              <h2 class="dark-text">Welcome to</h2>
              <h2 class="dark-text">Infintiy Innovations</h2>
          </div>
          
          <div class="account-form-card-input-container container-row">
              <label for="id_login" class="sr-only">login input</label>
              {{ form.login }}
          </div>
          <div class="account-form-card-input-container container-row">
              <label for="id_password" class="sr-only">password input</label>
              {{ form.password }}
          </div>
          
          <div class="remember-forget-container account-form-card-input-container container-row">
              <div class="remember-me-container container-row">
                <label for="id_remember" class="sr-only">remember input</label>
                {{ form.remember }}
                <div class="dark-text remember-me-text">Remember Me</div>
              </div>
              <div class="forget-password-container container-row">
                <a class="button secondaryAction forget-password-btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </div>
          </div>
          
          
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          
          <button class="primaryAction account-card-form-submit-btn btn" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
  </div>
</section>

{% endblock %}


