{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}

<section class="account-form-section section">
    <div class="account-form-section-img-bg-container img-container">
        <img src="{{ MEDIA_URL }}home-2.webp" alt="" class="img-100a">
    </div>
    <div class="account-form-section-overlay"></div>
  
    <div class="account-card-container container-row">
        <div class="account-card-img-container img-container">
            <img src="{{ MEDIA_URL }}account-card-4.png" alt="Metaverse" class="img-100a">
            <div class="account-card-img-overlay"></div>
        </div>
  
        <div class="account-card-form-container container-col">
          <form class="account-card-form container-col password_change" method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}

            <div class="account-form-card-input-container container-row">
                <h2 class="dark-text">{% trans "Change Password" %}</h2>
            </div>
            
            <div class="account-form-card-input-container container-row">
              {{ form.password1 }}
            </div>

            <div class="account-form-card-input-container container-row">
                {{ form.password2 }}
              </div>
            
              <button type="submit" name="action" class="btn">{% trans "Change Password" %}</button>
          </form>
        </div>
    </div>
</section>

{% endblock %}
