{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}

<section class="account-form-section section">
    <div class="account-form-section-img-bg-container img-container">
        <img src="{{ MEDIA_URL }}home-2.png" alt="Metaverse" class="img-100a">
    </div>
    <div class="account-form-section-overlay"></div>
  
    <div class="account-card-container container-row">
        <div class="account-card-img-container img-container">
            <img src="{{ MEDIA_URL }}account-card-4.png" alt="Metaverse" class="img-100a">
            <div class="account-card-img-overlay"></div>
        </div>
  
        <div class="account-card-no-form-container account-card-form-container container-col">
            <div class="account-form-card-input-container container-row">
                <h2 class="dark-text">{% trans "Password Reset" %}</h2>
            </div>
            <div class="account-form-card-input-container container-row">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="dark-text">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
