{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}

<section class="account-form-section section">
    <div class="account-form-section-img-bg-container img-container">
        <img src="{{ MEDIA_URL }}home-2.png" alt="" class="img-100a">
    </div>
    <div class="account-form-section-overlay"></div>
  
    <div class="account-card-container container-row">
        <div class="account-card-img-container img-container">
            <img src="{{ MEDIA_URL }}account-card-4.png" alt="Metaverse" class="img-100a">
            <div class="account-card-img-overlay"></div>
        </div>
  
        <div class="account-card-form-container container-col">
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="dark-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form class="account-card-form container-col password_change" method="POST" action="{{ action_url }}">
                {% csrf_token %}

                <div class="account-form-card-input-container container-row">
                    <h2 class="dark-text">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
                </div>
                
                <div class="account-form-card-input-container container-row">
                {{ form.password1 }}
                </div>

                <div class="account-form-card-input-container container-row">
                    {{ form.password2 }}
                </div>
                
                <button type="submit" name="action" class="btn">{% trans "Change Password" %}</button>
            </form>
            {% else %}
            <p class="dark-text">{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>
    
{% endblock %}
