{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/5821df7d40.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Infinity Innovations {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-col">
         <div class="header-container container-col">
            <div class="top-header-container container-row ">
                <div class="logo-header-container container-row">
                    <div class="logo-img-container img-container">
                        
                    </div>
                    <h1 class="logo-text dark-text">Infinity Innovations</h1>
                </div>

                <form class="search-header-container container-row" method="GET" action="{% url 'products' %}">
                    <input type="text" class="search-products-header-input" name="q" placeholder="Search our site">
                    <button class="search-products-header-btn container-col" type="submit">
                        <i class="fas fa-search white-text"></i>
                    </button>
                </form>

                <div class="account-cart-container container-row">
                    <div class="account-header-container container-col">
                        <div class="account-header-img-container img-container">

                        </div>
                        <div class="account-header-text dark-text">My Account</div>
                    </div>

                    <div class="cart-header-container container-col">
                        <div class="cart-header-img-container img-container">

                        </div>
                        <div class="cart-header-text dark-text">
                            {% if grand_total %}
                            $<span class="cart-grand-total">{{ grand_total }}</span>
                            {% else %}
                            $0.00
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-header-container container-row">
                <div class="bottom-header-dropdown-heading">REAL WORLD</div>
                <div class="bottom-header-dropdown-container container-row">
                    <div class="bottom-header-dropdown-item container-col">
                        <h3 class="bottom-header-dropdown-item-heading">Real World</h3>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">By Price</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">By Rating</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">By Category</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">By Brand</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">All REAL WORLD</a>
                    </div>

                    <div class="bottom-header-dropdown-item container-col">
                        <h3 class="bottom-header-dropdown-item-heading">Category</h3>
                        <a href="{% url 'products' %}?category=vr_headset" class="bottom-header-dropdown-link">VR Headsets</a>
                        <a href="{% url 'products' %}?category=vr_lenses" class="bottom-header-dropdown-link">VR Contact Lenses</a>
                        <a href="{% url 'products' %}?category=ar_glasses" class="bottom-header-dropdown-link">AR Glasses</a>
                        <a href="{% url 'products' %}?category=vr_treadmill" class="bottom-header-dropdown-link">VR Treadmill</a>
                        <a href="{% url 'products' %}?category=vr_watches" class="bottom-header-dropdown-link">VR Watches</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">ALL CATEGORIES</a>
                    </div>

                    <div class="bottom-header-dropdown-item container-col">
                        <h3 class="bottom-header-dropdown-item-heading">BRAND</h3>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">Brand 1</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">Brand 2</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">Brand 3</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">ALL BRANDS</a>
                    </div>
                </div>

                <div class="bottom-header-dropdown-heading">DIGITAL WORLD</div>
                <div class="bottom-header-dropdown-container container-row">
                    <div class="bottom-header-dropdown-item container-col">
                        <h3 class="bottom-header-dropdown-item-heading">Digital World</h3>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">By Price</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">By Rating</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">By Category</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">By Brand</a>
                        <a href="{% url 'digital_products' %}" class="bottom-header-dropdown-link">All DIGITAL WORLD</a>
                    </div>

                    <div class="bottom-header-dropdown-item container-col">
                        <h3 class="bottom-header-dropdown-item-heading">Category</h3>
                        <a href="{% url 'products' %}?category=avatar" class="bottom-header-dropdown-link">Avatars</a>
                        <a href="{% url 'products' %}?category=weapons" class="bottom-header-dropdown-link">Weapons</a>
                        <a href="{% url 'products' %}?category=armour" class="bottom-header-dropdown-link">Armour</a>
                        <a href="{% url 'products' %}?category=real_estate" class="bottom-header-dropdown-link">Real Estate</a>
                        <a href="{% url 'products' %}?category=currency" class="bottom-header-dropdown-link">Currency</a>
                        <a href="{% url 'digital_products' %}" class="bottom-header-dropdown-link">ALL CATEGORIES</a>

                    </div>

                    <div class="bottom-header-dropdown-item container-col">
                        <h3 class="bottom-header-dropdown-item-heading">BRAND</h3>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">Brand 1</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">Brand 2</a>
                        <a href="{% url 'real_products' %}" class="bottom-header-dropdown-link">Brand 3</a>
                        <a href="{% url 'digital_products' %}" class="bottom-header-dropdown-link">ALL BRANDS</a>
                    </div>
                </div>
            </div>
         </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="container-col">
        <div class="footer-container container-row">

        </div>
    </footer>

    {% block postloadjs %}
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
  </body>
</html>