{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block content %}
<section class="admin-home-section section">
    <div class="admin-home-section-container section-container container-row">
        <div class="admin-home-card-container container-col">
            <h2 class="admin-home-card-heading white-text container-col">Product Management</h2>
            <div class="admin-home-card-body container-col">
                <a href="{% url 'add_product' %}" class="dark-text">Add a product</a>
                <p class="admin-home-card-open-select dark-text" data-action="edit" data-model-type="products">Edit a product</p>
                <p class="admin-home-card-open-select dark-text" data-action="delete" data-model-type="products">Delete a product</p>
                <div class="admin-home-card-select-overlay"></div>
                <div class="admin-home-card-select-container container-col">
                    <div class="admin-home-card-select-container-upper container-col">
                        <span class="admin-home-card-select-close-btn"><i class="fa-solid fa-xmark"></i></span>
                        <div class="admin-home-card-select-heading white-text">Select Product</div>
                        <form class="admin-home-card-select-search-container" method="GET">
                            <input type="text" autocomplete="off" class="admin-home-card-select-search-input" name="q" placeholder="Search name of product">
                            <span class="search-input-search-icon"><i class="fas fa-search"></i></span>
                            <span class="search-input-close-icon"><i class="fa-solid fa-xmark"></i></span>
                        </form>
                    </div>
                    <div class="admin-home-card-select-container-lower container-col">
                        <div class="admin-home-card-select-items-container container-col">
                            {% for product in all_products %}
                            <div class="admin-home-card-select-item-container container-row" data-name="{{ product.name }}" data-id="{{ product.id }}">
                                <div class="admin-home-card-select-item-img-container img-container">
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img img-100a">
                                    {% else %}
                                    <img src="{{ MEDIA_URL }}template.png" alt="{{ product.name }}" class="product-img img-100a">
                                    {% endif %}
                                </div>
    
                                <p class="admin-home-card-select-item-name dark-text">{{ product.name }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="admin-home-card-select-btn-container container-col">
                            <div class="admin-home-card-select-btn btn">Select</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin-home-card-container container-col">
            <h2 class="admin-home-card-heading white-text container-col">Category Management</h2>
            <div class="admin-home-card-body container-col">
                <a href="{% url 'add_category' %}" class="dark-text">Add a category</a>
                <p class="admin-home-card-open-select dark-text" data-action="edit" data-model-type="categories">Edit a category</p>
                <p class="admin-home-card-open-select dark-text" data-action="delete" data-model-type="categories">Delete a category</p>
                <div class="admin-home-card-select-overlay"></div>
                <div class="admin-home-card-select-container container-col">
                    <div class="admin-home-card-select-container-upper container-col">
                        <span class="admin-home-card-select-close-btn"><i class="fa-solid fa-xmark"></i></span>
                        <div class="admin-home-card-select-heading white-text">Select Category</div>
                        <form class="admin-home-card-select-search-container" method="GET">
                            <input type="text" autocomplete="off" class="admin-home-card-select-search-input" name="q" placeholder="Search name of category">
                            <span class="search-input-search-icon"><i class="fas fa-search"></i></span>
                            <span class="search-input-close-icon"><i class="fa-solid fa-xmark"></i></span>
                        </form>
                    </div>
                    <div class="admin-home-card-select-container-lower container-col">
                        <div class="admin-home-card-select-items-container container-col">
                            {% for category in all_categories %}
                            <div class="admin-home-card-select-item-container no-img-container container-row" data-name="{{ category.name }}" data-id="{{ category.id }}">
                                <div class="admin-home-card-select-item-img-container"></div>
                                <p class="admin-home-card-select-item-name dark-text">{{ category.friendly_name }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="admin-home-card-select-btn-container container-col">
                            <div class="admin-home-card-select-btn btn">Select</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="admin-home-select-popup-container container-col">
    <div class="admin-home-select-notification-container container-col">
        <div class="admin-home-select-popup-header container-row">
            <p class="dark-text">Error!</p>
            <span class="admin-home-select-popup-close-btn"><i class="fa-solid fa-xmark dark-text"></i></span>
        </div>
        <div class="admin-home-select-popup-body container-col">
            <p class="dark-text admin-home-select-popup-message"></p>
            <div class="admin-home-select-popup-btns-container container-row">
                <div class="admin-home-select-popup-cancel-btn btn">Cancel</div>
                <div class="admin-home-select-popup-confirm-btn btn">Confirm</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/custom_admin.js' %}"></script>
{% endblock %}