{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<section class="section contact-section">
    <div class="contact-section-container section-container container-row">
        <form action="{% url 'contact' %}" class="contact-form container-col" method="POST">
            {% csrf_token %}
            <div class="contact-form-input-container container-col">
                <div class="dark-text">Name</div>
                <label for="id_name" class="sr-only">name input</label>
                {{ form.name }}
            </div>
            <div class="contact-form-input-container container-col">
                <div class="dark-text">Email</div>
                <label for="id_email" class="sr-only">email input</label>
                {{ form.email }}
            </div>
            <div class="contact-form-input-container container-col">
                <label for="id_message" class="sr-only">message input</label>
                <div class="dark-text">Message</div>
                {{ form.message}}
            </div>
            <button type="submit" class="contact-form-submit-btn btn">Send</button>
        </form>

        <div class="contact-info-container container-col">
            <h3 class="dark-text">Contact Us</h3>
            <div class="dark-text">Please get in contact with us if you have any questions and need help:</div>
            <div class="contact-info-text dark-text">infinityinnovationsinfo@gmail.com</div>
            <div class="contact-info-text dark-text">(555) 555-5555</div>
            <div class="social-media-container container-col">
                <p class="dark-text">Follow Us on Social Media</p>
                <a href="https://www.facebook.com/profile.php?id=61552186373211&is_tour_dismissed=true" target="_blank" class="dark-text">
                    <span class="fa-icon"><i class="fa-brands fa-facebook"></i></span>
                    Facebook
                </a>
                <a href="https://www.instagram.com/infinityinnovationsvr/" target="_blank" class="dark-text">
                    <span class="fa-icon"><i class="fa-brands fa-instagram"></i></span>
                    Instagram
                </a>
            </div>
            <div class="newsletter-container container-col">
                <div id="mc_embed_signup">
                    <form target="_blank" action="https://herokuapp.us11.list-manage.com/subscribe/post?u=bf25b2e2a322f9f212f4e1b4f&amp;id=119fec0438&amp;f_id=0054ace0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate container-col" novalidate="">
                        <div id="mc_embed_signup_scroll" class="mc-form-container container-col"><p class="dark-text">Join Our Newsletter</p>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group mc-form-container container-col"><input type="email" name="EMAIL" class="required email mc-input" id="mce-EMAIL" placeholder="Email" required="" value=""></div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                            <input type="text" name="b_bf25b2e2a322f9f212f4e1b4f_119fec0438" tabindex="-1" value="">
                        </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <label for="mc-embedded-subscribe" class="sr-only">Newsletter input</label>
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn" value="Subscribe">
                                    <p style="margin: 0px auto;"><a href="http://eepurl.com/iA1WiQ" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
