{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="section reviews-section">
    
    <div class="reviews-section-container section-container container-col">
        <h2 class="reviews-section-heading">
            Our Customer Reviews
        </h2>
        {% for review in reviews %}
        <div class="review-container container-row">
            <i class="fa-solid fa-quote-left reviews-quote-icon"></i>
            <div class="review-text dark-text">
                {{ review.message }}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}