{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="section contact-section">
    <div class="contact-section-container section-container container-col">
        <form action="{% url 'contact' %}" class="contact-form container-col" method="POST">
            {% csrf_token %}
            <div class="contact-form-input-container container-col">
                <div class="dark-text">Name</div>
                {{ form.name }}
            </div>
            <div class="contact-form-input-container container-col">
                <div class="dark-text">Email</div>
                {{ form.email }}
            </div>
            <div class="contact-form-input-container container-col">
                <div class="dark-text">Message</div>
                {{ form.message}}
            </div>
            <button type="submit" class="contact-form-submit-btn btn">Send</button>
        </form>
    </div>
</section>
{% endblock %}