{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}

<section class="add-product-section section">
    <div class="add-product-section-container section-container container-col">
        <h2 class="add-product-section-heading dark-text">Product Management</h2>
        <div class="add-product-section-subheading dark-text">Edit a Product</div>
        <div class="add-product-form-container container-col">

            <form action="{% url 'edit_product' product.id %}" method="POST" class="add-product-form container-col" id="payment-form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Category</p>
                    {{ form.category }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Brand</p>
                    {{ form.brand }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Sku</p>
                    {{ form.sku }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Name</p>
                    {{ form.name }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Description</p>
                    {{ form.description }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Has Themes</p>
                    {{ form.has_themes }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Price</p>
                    {{ form.price }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Rating</p>
                    {{ form.rating }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Image Url</p>
                    {{ form.image_url }}
                </div>
                <div class="add-product-form-input-container container-col">
                    <p class="dark-text">Image</p>
                    {{ form.image }}
                </div>

                <div class="add-product-form-btns-container container-row">
                    <a href="{% url 'products' %}" class="cancel-btn btn">
                        <span class="fa-icon"><i class="fa-solid fa-chevron-left"></i></span>
                        Cancel
                    </a>
                    <button type="submit" class="btn add-product-submit-btn">
                        <span class="fa-icon"><i class="fa-solid fa-circle-plus"></i></span>
                        Edit Product
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

