{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="product-list-section section">
    <div class="product-list-section-container section-container container-row">
        {% for product in products %}
        <div class="product-card container-col">
            <div class="product-card-img-container img-container">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-card-img img-100a">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ MEDIA_URL }}template.png" alt="{{ product.name }}" class="product-card-img img-100a">
                </a>
                {% endif %}
            </div>

            <div class="product-card-text-container container-col">
                <p class="product-card-name dark-text">{{ product.name }}</p>

                <p class="product-card-price dark-text">$ {{ product.price }}</p>

                {% if product.rating %}
                <p class="product-card-rating dark-text">
                    <i class="fas fa-star"></i> {{ product.rating }} / 5
                </p>
                {% else %}
                <p class="product-card-rating dark-text">
                    No Rating
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}